<h2>{{name}}</h2>
<ul>
  {{#each collection.items}}
    <li>
      <div data-item="{{json .}}">
        id: {{{data._id}}}
        <a href="{{href}}" target="_blank">
          url</a>
        <a href="#" class="edit">
          edit</a>
        <a href="#" class="delete">
          delete</a>
      </div>
    </li>
  {{/each}}
</ul>
